.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(8, 24, 127);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px solid rgba(227, 28, 224, 0.861);
  width: 80%;
  height: 50%;
}

.container__item {
  height: 80%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(53, 31, 219);

}